# Compiled Python files
*.pyc
__pycache__/

# Environment variables
.env

# Configuration file
config.py

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/

# IDE files
.idea/
.vscode/

# Misc
.DS_Store
Thumbs.db